body {
  background-color: black;
}
.cursor {
  width: 200px;
  height: 200px;
  background: linear-gradient(
    89.7deg,
    rgba(223, 0, 0, 1) 2.7%,
    rgba(214, 91, 0, 1) 15.1%,
    rgba(233, 245, 0, 1) 29.5%,
    rgba(23, 255, 17, 1) 45.8%,
    rgba(29, 255, 255, 1) 61.5%,
    rgba(5, 17, 255, 1) 76.4%,
    rgba(202, 0, 253, 1) 92.4%
  );
  filter: blur(120px);
  border-radius: 100%;
  position: fixed;
  pointer-events: none;
  transform: translate(-50%, -50%);
  transition: all 0.01s;
}
.section1 {
  background-image: url("background.jpg");
  background-size: cover;
  background-position: 70%;
  background-repeat: no-repeat;
  display: grid;
  height: 100vh;
  background-color: black;
  grid-template-columns: 1fr 1fr;
}
.container {
  color: whitesmoke;
}
.section1 h1 {
  font-size: 94px;
  background-color: hsla(0, 0%, 0%, 0);
  padding: 30px;
}

.title {
  color: whitesmoke;
  padding: 50px;
  font-size: 32px;
}
.navbar {
  text-align: right;
  padding: 10px;
  font-size: 20px;
}

.link {
  padding: 0 18px;
}
a {
  text-decoration: none;
  color: white;
}

.contactContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 200px;
  grid-gap: 70px;
}
.projectContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 75px;
}
.project {
  background-color: whitesmoke;
  border: solid 20px black;
  text-align: center;
  height: 400px;
  justify-content: center;
  align-content: center;
}

.projectTitle {
  color: whitesmoke;
  padding: 50px;
  font-size: 32px;
}

input {
  border-radius: 20px;
  border: none;
  padding: 10px;
  width: 500px;
}

.contactTextBox {
  width: 500px;
  height: 200px;
  border-radius: 20px;
}

.submitButton {
  width: 150px;
  font-size: 14px;
  padding: 10px;
  border: none;
  border-radius: 20px;
  background: radial-gradient(
    circle at -8.9% 51.2%,
    rgb(255, 162, 0) 0%,
    rgb(255, 203, 81) 15.9%,
    rgb(253, 249, 0) 15.9%,
    rgb(255, 249, 139) 24.4%,
    rgb(251, 250, 212) 24.5%,
    rgb(255, 255, 255) 66%
  );
}
.contactDetails {
  font-size: 20px;
  color: white;
}
h2 {
  color: white;
}

.learnMoreButton {
  width: 150px;
}
