body {
  background-color: black;
}
.cursor {
  width: 200px;
  height: 200px;
  background: linear-gradient(
    to right,
    red,
    orange,
    yellow,
    green,
    blue,
    indigo,
    violet
  );
  filter: blur(100px);
  border-radius: 100%;
  position: fixed;
  pointer-events: none;
  transform: translate(-50%, -50%);
  transition: all 0s;
}
.section1 {
  background-image: url("background.jpg");
  background-size: cover;
  background-position: 70%;
  background-repeat: no-repeat;
  display: grid;
  height: 100vh;
  background-color: black;
  grid-template-columns: 1fr 1fr;
}
.container {
  color: whitesmoke;
}
.section1 h1 {
  font-size: 94px;
  background-color: hsla(0, 0%, 0%, 0);
  padding: 30px;
}

.title {
  color: whitesmoke;
  padding: 50px;
  font-size: 32px;
}
.navbar {
  text-align: right;
  padding: 10px;
  font-size: 20px;
}

.link {
  padding: 0 18px;
}
a {
  text-decoration: none;
  color: white;
}

.projectContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
